.header__link {
  text-decoration: none;
  color: #1a1a1a;
}

.header__link:hover {
  opacity: 0.7;
}

.header__title {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.24px;
  margin: 0;
}
