.page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #ececec;
    box-sizing: border-box;
    padding: 20px 40px 32px 40px;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: #1a1a1a;
}

.page__main-content {
    margin-top: 20px;
    margin-bottom: 138px;
    flex-grow: 1;
}

.page__main-content_location_carousel {
    margin: 106px 0 188px;
}

/* page modifier for carousel page spacing */
.page__main-content_type_carousel {
    margin-top: 0;
}