.page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #ececec;
    box-sizing: border-box;
    padding: 20px 40px 32px 40px;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: #1a1a1a;
}

.page__main-content {
    margin-top: 20px;
    margin-bottom: 138px;
    flex-grow: 1;
}

.page__main-content_location_carousel {
    margin: 106px 0 188px;
}

.header__title {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.24px;
    margin: 0;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.header__link:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.nav__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav__link {
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    cursor: pointer; 
}

.nav__link:hover {
    text-decoration: underline; 
}

.deck {
    width: 325px;
    height: 205px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.deck__link {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.decks__title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 0;
}

.decks__list li {
    width: 325px;
    height: 205px;
}

.decks__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.deck__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.deck__count {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.decks__new-deck-btn {
    background-color: #D9D9D9;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #1a1a1a80;
    width: 324px;
    height: 205px;
    max-width: 100%;
    max-height: 100%;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decks__new-deck-btn:hover {
    background-color: #c5c5c5;
    color: #1a1a1a; 
}

.deck__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.deck__delete-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    opacity: 50%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
}

.deck__delete-btn:hover {
    opacity: 100%;
}

.deck_color_green  { background-color: #64d583; }
.deck_color_blue   { background-color: #91A8F9; }
.deck_color_pink   { background-color: #EE92D7; }
.deck_color_purple { background-color: #aa8ef0; }
.deck_color_orange { background-color: #ee955e; }
.deck_color_yellow { background-color: #F5D770; }

.footer {
    margin-top: auto; 
    margin-bottom: 32px;
}
/* carousel layout */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 40px 0;
}

.carousel__title {
    font-weight:500;
    font-size: 14px;
    color: #1a1a1a80;
    text-align: center;
}

.carousel__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.carousel__card {
    width: 440px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__card_color_green {
    background-color: #64d583;
}

.carousel__card_color_blue {
    background-color: #91A8F9;
}

.carousel__card_color_pink {
    background-color: #EE92D7;
}

.carousel__card_color_purple {
    background-color: #aa8ef0;
}

.carousel__card_color_orange {
    background-color: #ee955e;
}

.carousel__card_color_yellow {
    background-color: #F5D770;
}
.carousel__card_color_white {
    background-color: #fff;
}

.carousel__card-text {
    font-weight: 700;
    font-size: 24px;
}

.carousel__btn {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    opacity: 50%;
    cursor: pointer;
}

.carousel__btn:not(.carousel__btn_disabled):hover {
    opacity: 100%;
}

.carousel__btn_disabled {
    opacity: 20%;
    cursor: default;
}

.carousel__btn_type_left {
    background-image: url(../images/left.svg);
}

.carousel__btn_type_right {
    background-image: url(../images/right.svg);
}

.carousel__btn_type_flip {
    background-image: url(../images/flip.svg);
}

/* page modifier for carousel page spacing */
.page__main-content_type_carousel {
    margin-top: 0;
}